.carousel {
  width: 200px;
}
.carousel .mask {
  width: 100%;
  overflow: hidden;
}
.carousel ul {
  position: relative;
  width: 10000%;
  list-style-type: none;
}
.carousel li {
  float: left;
}
.carousel img {
  width: 200px;
  height: auto;
}
.carousel .nav {
  text-align: center;
}
.carousel .arrow.left {
  float: left;
}
.carousel .arrow.right {
  float: right;
}